<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Cache-Control" content="no-transform">
  <meta http-equiv="Cache-Control" content="no-siteapp">
  <link type="image/ico" rel="icon" href="<%= PUBLIC_URL %>/favicon/favicon-32x32.png">
  <link rel="mask-icon" href="<%= PUBLIC_URL %>/favicon/logo.svg" color="#222">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= PUBLIC_URL %>/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= PUBLIC_URL %>/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= PUBLIC_URL %>/favicon/favicon-16x16.png">
  <link rel="manifest" href="<%= PUBLIC_URL %>/favicon/manifest.json">
  <title>Anran758's Home</title>

  <meta name="description" content="web 开发的碎碎念">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Anran758&#39;s Home">
  <meta property="og:url" content="https://anran758.github.io/">
  <meta property="og:site_name" content="Anran758&#39;s Home">
  <meta property="og:description" content="web 开发的碎碎念">
  <meta property="og:locale" content="zh_CN">
  <meta property="article:author" content="anran758">
  <meta property="article:tag" content="前端、前端开发、JavaScript、vue、react、小程序开发、数据可视化">
  <meta name="twitter:card" content="summary">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= GOOGLE_TRACKING_ID %>"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '<%= GOOGLE_TRACKING_ID %>');
  </script>

  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?<%= BAIDU_TRACKING %>";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>

</head>
<body>
  <div id="root"></div>
</body>
</html>
