<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" charset="UTF-8">
  <title>圣杯布局</title>
</head>
<style>
</style>
<body>
  <div class="header">头部</div>

  <div class="row-padding-left">
    <div class="main">主内容栏自适应宽度</div>
    <div class="aside-left">侧边栏固定宽度</div>
  </div>

  <div class="row-padding-left-x2">
    <div class="main">主内容栏自适应宽度</div>
    <div class="aside-left-1">侧边栏1固定宽度</div>
    <div class="aside-left">侧边栏2固定宽度</div>
  </div>

  <div class="row-padding-left row-padding-right">
    <div class="main">主内容栏自适应宽度</div>
    <div class="aside-left">侧边栏1固定宽度</div>
    <div class="aside-right">侧边栏2固定宽度</div>
  </div>

  <div class="row-padding-right">
    <div class="main">主内容栏自适应宽度</div>
    <div class="aside-right">侧边栏固定宽度</div>
  </div>

  <div class="row-padding-right-x2">
    <div class="main">主内容栏自适应宽度</div>
    <div class="aside-right">侧边栏1固定宽度</div>
    <div class="aside-right-1">侧边栏2固定宽度</div>
  </div>

  <div class="footer">底部</div>
</body>
</html>
